@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.status {
  margin-top: 20px;
}

.leakage-status {
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 300px;
  margin: 0 auto;
}

.alert {
  background-color: #f44336; /* Red */
  color: white;
}

.safe {
  background-color: #4caf50; /* Green */
  color: white;
}

p {
  @apply text-slate-100;
}

h1, h2 {
  @apply text-slate-100 font-bold;
}

.alert-box {
  box-shadow: .5px .5px .5px 0px #dfd0b825 inset, -.1px -.1px .5px 0px inset;
}