.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.status {
  margin-top: 20px;
}

.leakage-status {
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 300px;
  margin: 0 auto;
}

.alert {
  background-color: #f44336; /* Red */
  color: white;
}

.safe {
  background-color: #4caf50; /* Green */
  color: white;
}

p {
  font-size: 1rem;
  color: #555;
}
